In [6]:
import pandas as pd
import numpy as np

In [8]:
# Use 3 decimal places in output display
pd.set_option("display.precision", 3)

# Don't wrap repr(DataFrame) across additional lines
pd.set_option("display.expand_frame_repr", False)

# Set max rows displayed in output to 25
pd.set_option("display.max_rows", 25)

# Assigning the Data Types for our first grouping:

In [9]:
dtypes = {
    "first_name": "category",
    "gender": "category",
    "type": "category",
    "state": "category",
    "party": "category",
}

In [10]:
dtypes["first_name"]

'category'

In [11]:
list(dtypes)

['first_name', 'gender', 'type', 'state', 'party']

In [12]:
df=pd.read_csv("dataset/legislators-historical.csv",dtype=dtypes,usecols=list(dtypes)+["birthday","last_name"],parse_dates=["birthday"])

In [13]:
df

      last_name  first_name   birthday gender type state                party
0       Bassett     Richard 1745-04-02      M  sen    DE  Anti-Administration
1         Bland  Theodorick 1742-03-21      M  rep    VA                  NaN
2         Burke     Aedanus 1743-06-16      M  rep    SC                  NaN
3       Carroll      Daniel 1730-07-22      M  rep    MD                  NaN
4        Clymer      George 1739-03-16      M  rep    PA                  NaN
...         ...         ...        ...    ...  ...   ...                  ...
11970   Garrett      Thomas 1972-03-27      M  rep    VA           Republican
11971    Handel       Karen 1962-04-18      F  rep    GA           Republican
11972     Jones      Brenda 1959-10-24      F  rep    MI             Democrat
11973    Marino         Tom 1952-08-15      M  rep    PA           Republican
11974     Jones      Walter 1943-02-10      M  rep    NC           Republican

[11975 rows x 7 columns]

# Processing through our Null Values

In [14]:
df.isnull().sum(axis=1)>0

0        False
1         True
2         True
3         True
4         True
         ...
11970    False
11971    False
11972    False
11973    False
11974    False
Length: 11975, dtype: bool

# Grouping of examples by state and gender 
    
    Now that our processing is done, we would like to focus on the number of people there are in each state differentiated
    by their genders

In [97]:
n_by_state_gender=df.groupby(["state","gender"],as_index=False).first_name.size()

KeyError: 'state'

In [33]:
n_by_state_gender

state  gender
AK     M          16
AL     F           3
       M         203
AR     F           5
       M         112
                ...
WI     M         196
WV     F           1
       M         119
WY     F           2
       M          38
Length: 104, dtype: int64

Now you may ask about the demography irrespective of genders for each state

In [12]:
df.groupby("state",sort=False)["last_name"].count()

state
DE      97
VA     432
SC     251
MD     305
PA    1053
      ...
AK      16
PI      13
VI       4
GU       4
AS       2
Name: last_name, Length: 58, dtype: int64